@font-face {
    font-family: 'Syncopate';
    src: url('fonts/Syncopate-Bold.eot');
    src: url('fonts/Syncopate-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Syncopate-Bold.woff2') format('woff2'),
        url('fonts/Syncopate-Bold.woff') format('woff'),
        url('fonts/Syncopate-Bold.ttf') format('truetype'),
        url('fonts/Syncopate-Bold.svg#Syncopate-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Syncopate';
    src: url('fonts/Syncopate-Regular.eot');
    src: url('fonts/Syncopate-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Syncopate-Regular.woff2') format('woff2'),
        url('fonts/Syncopate-Regular.woff') format('woff'),
        url('fonts/Syncopate-Regular.ttf') format('truetype'),
        url('fonts/Syncopate-Regular.svg#Syncopate-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jaldi';
    src: url('fonts/Jaldi-Bold.eot');
    src: url('fonts/Jaldi-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Jaldi-Bold.woff2') format('woff2'),
        url('fonts/Jaldi-Bold.woff') format('woff'),
        url('fonts/Jaldi-Bold.ttf') format('truetype'),
        url('fonts/Jaldi-Bold.svg#Jaldi-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jaldi';
    src: url('fonts/Jaldi-Regular.eot');
    src: url('fonts/Jaldi-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Jaldi-Regular.woff2') format('woff2'),
        url('fonts/Jaldi-Regular.woff') format('woff'),
        url('fonts/Jaldi-Regular.ttf') format('truetype'),
        url('fonts/Jaldi-Regular.svg#Jaldi-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

