.sitoContainer {
    display: none;
    position: relative;
    width: 100%;
    min-height: 900px;
    height: calc(100vh - 60px);

    header {
        width: 100%;
        height: 80px;
        padding: 0 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: $pamw;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        .headContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: -10px;

            .headerText {
                margin-left: 20px;
    
                p {
                    font-family: $rob;
                    font-weight: normal;
                    font-size: 10px;
                    letter-spacing: .1em;
                    color: $pamMidk;
    
                    strong {
                        font-family: $rob;
                        font-weight: $medium;
                        font-size: 10px;
                        letter-spacing: .1em;
                        color: $pamMidk;
                    }
                }
            }
        }
        #addSito, #delSito, #editSito, #hideSito, #showSito, #setSito {
            width: 150px;
            height: 40px;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 10px;
            justify-content: space-between;
            background-color: $pamr;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            border: none;
            font-family: $rob;
            font-weight: $medium;
            font-size: 14px;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: $pamw;
            transition: .2s ease-out;
        }
        #addSito:hover, #delSito:hover, #editSito:hover, #hideSito:hover, #showSito:hover, #setSito:hover {
            background-color: $pamw;
            color: $pamr;
        }
        #delSito {
            display: none;
        }
    }
}