.stampaContainer {
    position: relative;
    width: 100%;
    min-height: 900px;
    height: calc(100vh - 60px);

    .headerBkg {
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 155px;
        background-color: $pamw;
        z-index: 1;
    }
    header {
        position: fixed;
        width: 100%;
        height: 80px;
        padding: 0 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: $pamw;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        z-index: 1;

        .headContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: -10px;

            .headerText {
                margin-left: 20px;
    
                p {
                    font-family: $rob;
                    font-weight: normal;
                    font-size: 10px;
                    letter-spacing: .1em;
                    color: $pamMidk;
    
                    strong {
                        font-family: $rob;
                        font-weight: $medium;
                        font-size: 10px;
                        letter-spacing: .1em;
                        color: $pamMidk;
                    }
                }
            }
        }
        #addStampa, #delStampa, #editStampa, #setStampa {
            width: 150px;
            height: 40px;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 10px;
            justify-content: space-between;
            background-color: $pamr;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            border: none;
            font-family: $rob;
            font-weight: $medium;
            font-size: 14px;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: $pamw;
            transition: .2s ease-out;
        }
        #addStampa:hover, #delStampa:hover, #editStampa:hover, #setStampa:hover {
            background-color: $pamw;
            color: $pamr;
        }
        #delStampa {
            display: none;
        }
    }
    .magTitleBar {
        position: fixed;
        width: calc(100% - 90px);
        height: 60px;
        margin: 90px 45px 0 45px;
        border-radius: 6px;
        background-color: $pamw;
        box-shadow: 0px 0px 20px rgba($pamFullk , .25);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

        button {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: $pamr;
            box-shadow: 0 0 20px rgba($pamFullk , .1);
            border: none;
            transition: .2s ease-out;
        }
        button:hover {
            background-color: $pamw;
        }
        #magTitlePrev {
            margin-left: -20px;
            margin-right: -60px;
        }
        #magTitleNext {
            margin-left: -40px;
            margin-right: -20px;
        }
        h3 {
            font-family: $rob;
            font-weight: $light;
            font-size: 30px;
            letter-spacing: .1em;
            color: $pamr;

            span {
                font-size: inherit;
                letter-spacing: inherit;
                color: inherit;
            }
        }
        .magTitleInfo {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
                font-family: $rob;
                font-weight: $medium;
                font-size: 14px;
                letter-spacing: .1em;
                color: $pamr;
                margin-right: 30px;

                span {
                    font-family: inherit;
                    font-weight: normal;
                    color: $pamFullk;
                }
            }
        }
    }
    .magGridsContainer {
        position: absolute;
        top: 160px;
        width: 100%;
        margin-bottom: 60px;
        padding: 0 45px;
        z-index: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        #advGrid {
            margin: 0 5px;
        }
        #endGrid {
            margin: 0 5px;
        }
        .k-grid-header .k-header {
            height: 40px;
            padding: 0;
            background-color: $pamw;
            border: 1px solid $pamr;
            border-radius: 6px;
            font-family: $rob;
            font-weight: normal;
            font-size: 14px;
            line-height: 40px;
            text-align: center;
            color: $pamr;
        }
        .k-grid tbody tr {
            line-height: 40px;
        }
        .k-grid tbody td {
            padding: 0;
            background-color: $pamw;
            box-shadow: 0 0 20px rgba($pamFullk , .1);
            border-radius: 6px;
            height: 40px;
            font-family: $cond;
            font-weight: normal;
            font-size: 14px;
            line-height: 40px;
            text-align: center;
            color: $pamFullk;
        }
        .k-state-selected {
            td {
                background-color: rgba($pamr , .4) !important;
            }
        }
    }
}