@-webkit-keyframes bkgGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes bkgGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes bkgGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes bkgGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.aboutSection {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    padding-top: 110px;
    background: linear-gradient(315deg, #fdfdfd, #f12b44, #0d1b1e, #3abcef, #fdfdfd);
    background-size: 1000% 1000%;

    -webkit-animation: bkgGradient 30s linear infinite;
    -moz-animation: bkgGradient 30s linear infinite;
    -o-animation: bkgGradient 30s linear infinite;
    animation: bkgGradient 30s linear infinite;

    .sectionTitle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 0 100px 25px 100px;

        h2 {
            font-family: $synco;
            font-weight: bold;
            font-size: $h2;
            color: $rieraWhite;
        }
    }
    .textContainer {
        width: 100%;
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .leftCol , .rightCol {
            width: 500px;
            margin: 0 50px;

            p {
                font-family: $jaldi;
                font-weight: normal;
                font-size: $large-p;
                color: $rieraWhite;

                strong {
                    font-weight: bold;
                }
            }
        }
    }
}