.contactSection {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 75vh;
    padding: 110px 0 50px 0;

    .sectionTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0 100px;

        h2 {
            font-family: $synco;
            font-weight: bold;
            font-size: $h2;
            color: $rieraBlack;
        }
    }
    .contactContainer {
        position: relative;
        width: 500px;
        z-index: 1;
        margin: 100px 0 175px 300px;

        @media screen and (max-width: 1600px) {
            margin-left: 200px;
        }
        @media screen and (max-width: 1330px) {
            margin-left: 100px;
        }
        @media screen and (max-width: 1080px) {
            margin-left: 0;
        }
        
        form {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;

            input {
                width: 400px;
                margin: 2.5px 0;
                font-family: $jaldi;
                font-weight: normal;
                font-size: $regular-p;
            }
            #formName , #formEmail {
                height: 60px;
                padding: 0 10px;
                border: solid 1px $rieraBlack;
                border-radius: 5px;
            }
            textarea {
                width: 400px;
                margin: 2.5px 0;
                padding: 0 10px;
                border: solid 1px $rieraBlack;
                border-radius: 5px;
                font-family: $jaldi;
                font-weight: normal;
                font-size: $regular-p;
                resize: none;
            }
            #formSubmit {
                width: 200px;
                height: 50px;
                border: solid 1px $rieraBlack;
                border-radius: 5px;
                font-family: $synco;
                font-weight: bold;
                font-size: $h4;
                line-height: 50px;
                text-align: center;
                color: $rieraBlack;
                text-shadow: 1px 1px 0px $rieraWhite;
                background-color: $rieraBlue;
                transition: $link-tr;
                cursor: pointer;
            }
            #formSubmit:hover {
                color: $rieraWhite;
                text-shadow: 1px 1px 0px $rieraBlack;
            }
        }
    }
    .redBall {
        z-index: 0;
        position: absolute;
        top: 20%;
        left: 20%;
        width: 2000px;
        height: 2000px;
        border-radius: 100%;
        background-color: $rieraRed;

        @media screen and (max-width: 1330px) {
            left: 35%;
            width: 1500px;
            height: 1500px;
        }
        @media screen and (max-width: 1080px) {
            width: 1000px;
            height: 1000px;
        }
    }
    &__tutorial {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);

        @media screen and (max-width: 1600px) {
            top: 20%;
            left: 40%;
        }
        @media screen and (max-width: 1330px) {
            top: 25%;
            left: 30%;
        }
        @media screen and (max-width: 1080px) {
            top: 35%;
            left: 40%;
        }

        p {
            font-family: $synco;
            font-weight: normal;
            font-size: $sub-h2;
            line-height: 50px;
            color: $rieraWhite;

            a {
                text-decoration: underline;
                transition: $link-tr;
            }
            a:hover {
                color: $rieraBlack;
            }
        }
    }
}