@keyframes titleIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.landingSection {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    .background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 500px;
        z-index: -1;
    }
    &__title {
        width: 90%;
        margin: 350px auto 0 auto;
        text-align: center;
        opacity: 0;
        animation-name: titleIn;
        animation-duration: 0.5s;
        animation-delay: 7s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;

        h1 {
            font-family: $synco;
            font-weight: bold;
            font-size: $h1;
            color: $rieraBlack;
        }
        p {
            font-family: $jaldi;
            font-weight: normal;
            font-size: $large-p;
            color: $rieraBlack;
            margin-top: 20px;
        }
    }
}