/*@-webkit-keyframes bkgGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes bkgGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes bkgGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes bkgGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}*/

.showcaseSection {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 110px;
    background: $rieraBlue;

    .sectionTitle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 0 100px 25px 100px;

        h2 {
            font-family: $synco;
            font-weight: bold;
            font-size: $h2;
            color: $rieraWhite;
        }
    }
    .showcaseContainer {
        width: 100%;
        padding: 50px 100px;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;

        &__text {
            max-width: 700px;
            margin-right: 50px;

            p {
                min-width: 510px;
                font-family: $jaldi;
                font-weight: normal;
                font-size: $large-p;
                letter-spacing: 0.01em;
                color: $rieraWhite;
                
                strong {
                    font-weight: bold;
                }
            }
            p:last-child {
                margin-top: 30px;
            }
        }
        .showcaseGlide {
            position: relative;
            overflow: hidden;
            min-width: 600px;
            max-width: 600px;
            padding: 0 40px;

            .glide {

                &__track {
                    cursor: grab;
                    width: 520px;
                }
                &__track:active {
                    cursor: grabbing;
                }
                &__slide {
                    height: 520px;

                    div {
                        width: 500px;
                        height: 500px;
                        border-radius: 100%;
                        background-color: $rieraWhite;
                        -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
                        -moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
                        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;


                        img {
                            width: 350px;
                            height: auto;
                        }
                        p {
                            max-width: 340px;
                            margin-top: 25px;
                            font-family: $jaldi;
                            font-weight: normal;
                            font-size: $regular-p;
                            line-height: 28px;
                            text-align: center;
                            color: $rieraBlue;
                        }
                    }
                }
                &__arrows {
                    width: 550px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: -10px 0 0 -10px;
                }
                &__arrow {
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    background-color: $rieraRed;
                    cursor: pointer;
        
                    &--left {
                        -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.25);
                        -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.25);
                        box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.25);
                    }
                    .left_cls-2 {
                        transition: $link-tr;
                    }
                    &--left:hover .left_cls-2 {
                        fill: rgba($rieraBlack , .75);
                    }
                    &--right {
                        transform: rotate(180deg);
                        -webkit-box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.25);
                        -moz-box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.25);
                        box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.25);
                    }
                    .right_cls-2 {
                        transition: $link-tr;
                    }
                    &--right:hover .right_cls-2 {
                        fill: rgba($rieraBlack , .75);
                    }
                }
            }
        }
    }
}