.teamSection {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    padding: 110px 0 50px 0;

    .sectionTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0 100px;

        h2 {
            font-family: $synco;
            font-weight: bold;
            font-size: $h2;
            color: $rieraBlack;
        }
    }
    .teamContainer {
        width: 100%;
        padding: 50px 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
        &__member {
            max-width: 365px;
            min-width: 365px;
            max-height: 500px;
            min-height: 500px;
            margin: 50px 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            div {
                position: relative;
                overflow: hidden;
                width: 300px;
                height: 300px;
                border-radius: 100%;
                box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
                
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -150px;
                    margin-left: -150px;
                    width: 300px;
                    height: 300px;
                }
            }
            .apps {
                background-color: $rieraBlue;
            }
            .art {
                background-color: $rieraRed;
            }
            .tech {
                background-color: rgba($rieraBlack , 0.9);
            }
            h6 {
                margin-top: 25px;
                font-family: $synco;
                font-weight: bold;
                font-size: $h4;
                text-align: center;
            }
            strong {
                margin-top: 5px;
                font-family: $jaldi;
                font-weight: bold;
                font-size: $regular-p;
                text-align: center;
            }
            p {
                font-family: $jaldi;
                font-weight: normal;
                font-size: $regular-p;
                text-align: center;
                line-height: 28px;
            }
        }
    }
}