/* Colors */
$rieraWhite: #FDFDFD;
$rieraBlack: #0D1B1E;
$rieraBlue: #3ABCEF;
$rieraRed: #F12B44;

/* Typography*/
$synco: 'Syncopate';
$jaldi: 'Jaldi';

$h1: 42px; //Syncopate Bold
$h2: 36px;
$h3: 28px;
$h4: 22px;

$sub-h1: 34px; //Syncopate Regular
$sub-h2: 28px;

$regular-p: 18px; //Jaldi Bold/Regular
$large-p: 24px;

/* Various */
$link-tr: 0.4s ease-in-out;