body {
    width: 100%;
}

.toolbar {
    position: fixed;
    top: 30%; right: 0;
    width: 200px;
    height: 300px;
    z-index: 99;
    background: #aaa;
    border-radius: 20px 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        button {
            margin: 10px 0;
        }
    }

    .monthLabel {
        color: white;
    }
}
.bottomBar {
    position: fixed;
    bottom: 0;
    left: 80px;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 99;
    background: #aaa;
    border-radius: 10px 10px 0 0;
}

.bigScroll {
    position: relative;
    width: 100%;
    z-index: 1;

    &__jan {
        z-index: 1;

        .slideBkg {
            background: rgba($jan , .25);
        }
        .title {
            background: $jan;
        }
    }
    &__feb {
        z-index: 2;

        .slideBkg {
            background: rgba($feb , .25);
        }
        .title {
            background: $feb;
        }
    }
    &__mar {
        z-index: 3;

        .slideBkg {
            background: rgba($mar , .25);
        }
        .title {
            background: $mar;
        }
    }
    &__apr {
        z-index: 4;

        .slideBkg {
            background: rgba($apr , .25);
        }
        .title {
            background: $apr;
        }
    }
    &__may {
        z-index: 5;

        .slideBkg {
            background: rgba($may , .25);
        }
        .title {
            background: $may;
        }
    }
    &__jun {
        z-index: 6;

        .slideBkg {
            background: rgba($jun , .25);
        }    
        .title {
            background: $jun;
        }
    }
    &__jul {
        z-index: 7;

        .slideBkg {
            background: rgba($jul , .25);
        }
        .title {
            background: $jul;
        }
    }
    &__aug {
        z-index: 8;

        .slideBkg {
            background: rgba($aug , .25);
        }    
        .title {
            background: $aug;
        }
    }
    &__sep {
        z-index: 9;

        .slideBkg {
            background: rgba($sep , .25);
        }
        .title {
            background: $sep;
        }
    }
    &__oct {
        z-index: 10;

        .slideBkg {
            background: rgba($oct , .25);
        }
        .title {
            background: $oct;
        }
    }
    &__nov {
        z-index: 11;

        .slideBkg {
            background: rgba($nov, .25);
        }
        .title {
            background: $nov;
        }
    }
    &__dec {
        z-index: 12;
        min-height: 101vh !important;

        .slideBkg {
            background: rgba($dec , .25);
        }
        .title {
            background: $dec;
        }
    }

    .pamScroll {
        width: 100%;
        min-height: 125vh;
        position: sticky;
        position: -webkit-sticky;
        top: -1px;
        font-size: 42px;
        font-family: Arial, Helvetica, sans-serif;
        background: white;

        .slideBkg {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }
        .title {
            width: 100%;
            min-height: 50px;
            line-height: 50px;
            color: white;
            padding: 10px 80px;
        }
    }   
}